<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AsosSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="AsosSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://brazil.medstatus.app/ws/asos.asmx"
                binding="basicHttpBinding" bindingConfiguration="AsosSoap"
                contract="IHCHelixAzureProject.IHCClient.AsosSoap" name="AsosSoap" />
            <endpoint address="https://brazil.medstatus.app/ws/asos.asmx"
                binding="customBinding" bindingConfiguration="AsosSoap12"
                contract="IHCHelixAzureProject.IHCClient.AsosSoap" name="AsosSoap12" />
        </client>
    </system.serviceModel>
</configuration>